@{
    ViewData["Title"] = "About";
}
<body class="vinyls-bkg">
<h2 class="white-txt">@ViewData["Title"]</h2>

<div class="white-quote">
    <img src="../images/record db image.png" alt="Record Database Icon">
    <p>This is a database of jazz recordings specifically made for jazz musicians. In a post-CD world, it can
        be difficult to find information about recording dates and sidemen, so here is a searchable database of
        jazz recordings, with the (more interesting) recording dates as opposed to the (less interesting) release dates. 
        Try for example, searching for Jimmy Cobb and filter to the year 1959 to see just how prolific he was!</p>
    <p>The given recording date is either the first, the only or the most productive recording date.</p>
    <p>Click on details to see the album cover.</p>
</div>

<span class="white-txt">Photo by <a href="https://unsplash.com/@@florenciaviadana?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Florencia Viadana</a> on <a href="https://unsplash.com/s/photos/jazz?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
</body>