@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jazz Record Database</h1>
    <p>Learn about jazz records <a href="/RecordSearch">here</a>.</p>
</div>
